body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.titulo-principal{
    font-size: 3em;
    color:#ed145b;
    margin: 0;
}
.titulo-secundario{
    font-size: 2em;
    color:#ed145b;
}
.navigation{
    background-color: black;
    color: white;
    padding: 10px;
}
li{
    display: inline-block;
    padding: 10px;
    margin: 10px;

}
a{
    color:#ed145b;
    text-decoration: none;
}
header p{
    margin: 0;
    padding: 0;
}
#logo{
    width: 100px;
    height: 100px;
}
ul{
    display: inline;
    position: absolute;
}
.elemento{
    background-color: red;
    padding: 20px;
    color: yellow;
    width: 610px;
    max-width: 50%;
    height: 20px;
    position: absolute;
    /* left: calc(50% - 100px); */
    /* top: 50%; */
    bottom: 0;
    right: 0;
}

.imagem-fundo{
    background-image: url('../img/tile.jpg');
    background-repeat: repeat;
}
.personalizado{
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px yellow;
}
.teste-model{
    width: 200px;
    height: 200px;
    background-color: yellow;
    color: black;
    overflow: scroll;
    /* left: 200px; */
    position: relative;
    border: 5px solid orange;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 10px 10px 12px black;
    border-radius: 10px;
}
.posicao{
    width: 10vw;
    height: 50px;
    background-color: green;
    color: white;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
}
@media(max-width:480px){
    #img-responsive{
        max-width: 100%;
        width: 20px;
    }
}
@media(min-width:481px) and (max-width:768px){
    #img-responsive{
        max-width: 50%;
    }
}

#img-responsive{
    width: 1200px;
}